
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="~/images/logo.png" width="70" height="30" href="/" />
                    <b>Головна</b>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <b>Каталог товарів</b> 
                            </a>
                            @await Component.InvokeAsync("GetCategory")
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="GetAllProduct">Весь товар</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакти</a>
                        </li>
                       @*  Тільки для зареєстрованих користувачів *@
                        @if (User.Identity.IsAuthenticated)
                        {
                        <b>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Product" asp-action="AddNewProduct">Додати товар</a>
                            </li>
                        </b>

                        }
                    </ul>
                    <form class="d-flex" role="search" asp-controller="Product" asp-action="SearchProduct" method="get">
                        <input class="form-control me-2" type="search" name="nameProduct" placeholder="Пошук товару" aria-label="Search">
                        <button class="btn btn-outline-success me-2" type="submit">Пошук</button>
                        <partial name="_loginInfo" />
                    </form>

                </div>
            </div>
        </nav>
    </div>
</header>
