
<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="~/images/logo.png" width="70" height="30" href="/" />
                    <b>Головна</b>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <b>Каталог товарів</b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Ноутбки та комп'ютери</a></li>
                                <li><a class="dropdown-item" href="#">Смартфони</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Книги</a></li>
                                <li><a class="dropdown-item" href="#">Журнали</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="GetAllProduct">Весь товар</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Product" asp-action="AddNewProduct">Додати товар</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success me-2" type="submit">Пошук</button>
                        <a class="btn btn-outline-primary me-2" asp-controller="Account" asp-action="Login">Увійти</a>
                        <a class="btn btn-primary me-2" asp-controller="Account" asp-action="Signup">Реєстрація</a>
                    </form>

                </div>
            </div>
        </nav>
    </div>
</header>
