html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
    flex-shrink: 0; /* Забезпечує, щоб підвал не стискався */
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px;
}
}
.fixed-size-image {
    max-width: 100%; /* Зображення не перевищує ширину контейнера */
    max-height: 200px; /* Максимальна висота зображення */
    object-fit: contain; /* Зберігає пропорції та масштабує зображення всередині контейнера */
    display: block;
    margin: 0 auto; /* Центрує зображення всередині контейнера */
}